<div class="heading">
  <ol class="breadcrumb">
    <li><a routerLink="/">Dashboard</a></li>
    <li><a>/ Employee</a></li>
  </ol>
</div>

<div class="grid-container">
  <div class="my-footer" style="margin-top: 5px;">
    <div class="fab">
      <button mat-fab color="primary" (click)="addEmployee()">Add</button>
    </div>
  </div>

    <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1" style="padding: 0;margin:0;">
      <!-- item name Column -->
      <ng-container matColumnDef="employeeId">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.employeeId}} </td>
      </ng-container>
     <!-- item name Column -->
     <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lirstName}} </td>
     </ng-container>


        <!-- item name Column -->
      <ng-container matColumnDef="employeePhone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.employeePhone}}  </td>
      </ng-container>

      <!-- item name Column -->
      <ng-container matColumnDef="employeeGender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.employeeGender}} </td>
      </ng-container>


      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef> Department </th>
        <td mat-cell *matCellDef="let element"> {{element.department}} </td>
      </ng-container>
      <!-- date Column -->
      <ng-container matColumnDef="updatedDate">
        <th mat-header-cell *matHeaderCellDef> Modified at </th>
        <td mat-cell *matCellDef="let element"> {{element.updatedDate |date:'medium'}} </td>
      </ng-container>
      <!-- is_maintain_stock Column --> -->
       <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>Action </th>
        <td mat-cell *matCellDef="let element" >  <mat-icon color="accent" (click)="editEmp(element.employeeId)">edit</mat-icon> <mat-icon color="warn" (click)="deleteData(element.departmentId)">restore_from_trash</mat-icon> </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'trending':row.departmentName}"  ></tr>
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No Data Found </td>
      </tr>

    </table>
    <!-- <mat-paginator class="my-paginator"
    [length]="dataSource.count"
    [pageSize]="limit"
    [pageSizeOptions]="[1,2,3,4, 10]"
    (page)="pageEvent = $event; onPaginateChange($event)"
    showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator> -->
  </div>


</div>

